PORT=4000
FRONTEND_URL=http://localhost:5173
MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/Portfolio?retryWrites=true&w=majority
JWT_SECRET=tu_clave_secreta_jwt_super_segura
ADMIN_EMAIL=lalandaleandro@gmail.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Resend
RESEND_API_KEY=re_tu_api_key

# Keep-Alive Bot (Opcional: Render inyecta RENDER_EXTERNAL_URL de forma automática)
# SERVER_URL=https://tu-portfolio-backend.onrender.com
# PING_INTERVAL_MINUTES=10
